<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated awscftarget -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="awscftarget.presentation.AwscftargetModelWizardID"
            name="%_UI_AwscftargetModelWizard_label"
            class="awscftarget.presentation.AwscftargetModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/AwscftargetModelFile.gif">
         <description>%_UI_AwscftargetModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated awscftarget -->
      <editor
            id="awscftarget.presentation.AwscftargetEditorID"
            name="%_UI_AwscftargetEditor_label"
            icon="icons/full/obj16/AwscftargetModelFile.gif"
            extensions="awscftarget"
            class="awscftarget.presentation.AwscftargetEditor"
            contributorClass="awscftarget.presentation.AwscftargetActionBarContributor">
      </editor>
   </extension>

</plugin>
