<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated awscftarget -->
      <package
            uri="http://www.example.org/awscftarget"
            class="awscftarget.AwscftargetPackage"
            genModel="model/awscftarget.genmodel"/>
   </extension>

</plugin>
